body {
	font: 13px/1.5 sans-serif;
	width: 80%;
}
.top {
	width: 80%;
	margin: 10px auto;
	font-size: 150%;
	text-align: justified;
	
	
}
.second {
	text-align: right;
	
	font-size: 150%;
}
.pictures {
	float: left;
	display: table; 
	width: 80%;
	height: 200px;
	margin-bottom: 0px;
	margin-left: 128px;
	margin-right: 128px;
	margin-top:0px;
	padding: 16px 16px 100px 100px;
	border-collapse: separate;
	border-spacing: 2px;
	border-color gray
	text-align: justify;
	
}
.icon {
	float: left;
	width: 25%; 
	margin: auto;
	height: 155px;
	display: inline;
	
}
.footer {
	float: left;
	width: 80%;
	text-align: center;
	margin: 0px 150px;
	padding: 0 0 150px 150px;
	border-top-style: solid;
	border-color: gray;
	border-size: 1px;
	display: center;
	
}
.link {
	text-color: blue;
}